ASS2-BPEL/bpelContent/BookService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://book.waa.swin.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://book.waa.swin.edu.au">
    <wsdl:documentation>BookService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://book.waa.swin.edu.au">
            <xs:element name="validateBookInLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookIsbn" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateBookInLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookID" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookAuthors" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookIsbn" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookIsbn13" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookPublisher" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookPublishDate" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="bookStatus" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateBookInLibraryRequest">
        <wsdl:part name="parameters" element="ns:validateBookInLibrary"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateBookInLibraryResponse">
        <wsdl:part name="parameters" element="ns:validateBookInLibraryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNewBookRequest">
        <wsdl:part name="parameters" element="ns:addNewBook"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNewBookResponse">
        <wsdl:part name="parameters" element="ns:addNewBookResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookServicePortType">
        <wsdl:operation name="validateBookInLibrary">
            <wsdl:input message="ns:validateBookInLibraryRequest" wsaw:Action="urn:validateBookInLibrary"></wsdl:input>
            <wsdl:output message="ns:validateBookInLibraryResponse" wsaw:Action="urn:validateBookInLibraryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewBook">
            <wsdl:input message="ns:addNewBookRequest" wsaw:Action="urn:addNewBook"></wsdl:input>
            <wsdl:output message="ns:addNewBookResponse" wsaw:Action="urn:addNewBookResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookServiceSoap11Binding" type="ns:BookServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="validateBookInLibrary">
            <soap:operation soapAction="urn:validateBookInLibrary" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewBook">
            <soap:operation soapAction="urn:addNewBook" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BookServiceSoap12Binding" type="ns:BookServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="validateBookInLibrary">
            <soap12:operation soapAction="urn:validateBookInLibrary" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewBook">
            <soap12:operation soapAction="urn:addNewBook" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BookServiceHttpBinding" type="ns:BookServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="validateBookInLibrary">
            <http:operation location="validateBookInLibrary"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewBook">
            <http:operation location="addNewBook"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookService">
        <wsdl:port name="BookServiceHttpsSoap11Endpoint" binding="ns:BookServiceSoap11Binding">
            <soap:address location="https://10.211.55.12:9443/services/BookService.BookServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="BookServiceHttpSoap11Endpoint" binding="ns:BookServiceSoap11Binding">
            <soap:address location="http://10.211.55.12:9763/services/BookService.BookServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="BookServiceHttpSoap12Endpoint" binding="ns:BookServiceSoap12Binding">
            <soap12:address location="http://10.211.55.12:9763/services/BookService.BookServiceHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="BookServiceHttpsSoap12Endpoint" binding="ns:BookServiceSoap12Binding">
            <soap12:address location="https://10.211.55.12:9443/services/BookService.BookServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="BookServiceHttpsEndpoint" binding="ns:BookServiceHttpBinding">
            <http:address location="https://10.211.55.12:9443/services/BookService.BookServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="BookServiceHttpEndpoint" binding="ns:BookServiceHttpBinding">
            <http:address location="http://10.211.55.12:9763/services/BookService.BookServiceHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>