ASS2-BPEL/bpelContent/EvaluateResponse.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://evaluate.waa.swin.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://evaluate.waa.swin.edu.au">
    <wsdl:documentation>EvaluateResponse</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://evaluate.waa.swin.edu.au">
            <xs:element name="evaluateGoogleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="availability" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="evaluateGoogleResponseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="evaluateGoogleResponseRequest">
        <wsdl:part name="parameters" element="ns:evaluateGoogleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="evaluateGoogleResponseResponse">
        <wsdl:part name="parameters" element="ns:evaluateGoogleResponseResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EvaluateResponsePortType">
        <wsdl:operation name="evaluateGoogleResponse">
            <wsdl:input message="ns:evaluateGoogleResponseRequest" wsaw:Action="urn:evaluateGoogleResponse"></wsdl:input>
            <wsdl:output message="ns:evaluateGoogleResponseResponse" wsaw:Action="urn:evaluateGoogleResponseResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EvaluateResponseSoap11Binding" type="ns:EvaluateResponsePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="evaluateGoogleResponse">
            <soap:operation soapAction="urn:evaluateGoogleResponse" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EvaluateResponseSoap12Binding" type="ns:EvaluateResponsePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="evaluateGoogleResponse">
            <soap12:operation soapAction="urn:evaluateGoogleResponse" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EvaluateResponseHttpBinding" type="ns:EvaluateResponsePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="evaluateGoogleResponse">
            <http:operation location="evaluateGoogleResponse"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EvaluateResponse">
        <wsdl:port name="EvaluateResponseHttpsSoap11Endpoint" binding="ns:EvaluateResponseSoap11Binding">
            <soap:address location="https://10.211.55.12:9443/services/EvaluateResponse.EvaluateResponseHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EvaluateResponseHttpSoap11Endpoint" binding="ns:EvaluateResponseSoap11Binding">
            <soap:address location="http://10.211.55.12:9763/services/EvaluateResponse.EvaluateResponseHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EvaluateResponseHttpsSoap12Endpoint" binding="ns:EvaluateResponseSoap12Binding">
            <soap12:address location="https://10.211.55.12:9443/services/EvaluateResponse.EvaluateResponseHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EvaluateResponseHttpSoap12Endpoint" binding="ns:EvaluateResponseSoap12Binding">
            <soap12:address location="http://10.211.55.12:9763/services/EvaluateResponse.EvaluateResponseHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EvaluateResponseHttpsEndpoint" binding="ns:EvaluateResponseHttpBinding">
            <http:address location="https://10.211.55.12:9443/services/EvaluateResponse.EvaluateResponseHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="EvaluateResponseHttpEndpoint" binding="ns:EvaluateResponseHttpBinding">
            <http:address location="http://10.211.55.12:9763/services/EvaluateResponse.EvaluateResponseHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>