ASS2-BPEL/bpelContent/GoogleBookProxyService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://google.waa.swin.edu.au" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GoogleBookProxyService" targetNamespace="http://google.waa.swin.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://google.waa.swin.edu.au">
      <xsd:element name="GetBookInformation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isbn" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetBookInformationResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="isValidISBN" type="xsd:string" />
          	<xsd:element name="bookID" type="xsd:string"></xsd:element>
          	<xsd:element name="title" type="xsd:string"></xsd:element>
          	<xsd:element name="authors" type="xsd:string"></xsd:element>
          	<xsd:element name="isbn" type="xsd:string"></xsd:element>
          	<xsd:element name="isbn13" type="xsd:string"></xsd:element>
          	<xsd:element name="publisher" type="xsd:string"></xsd:element>
          	<xsd:element name="publishedDate" type="xsd:string"></xsd:element>
          	<xsd:element name="averageRating" type="xsd:string"></xsd:element>
          	<xsd:element name="availability" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetBookInformationRequest">
    <wsdl:part element="ns:GetBookInformation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBookInformationResponse">
    <wsdl:part element="ns:GetBookInformationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GoogleBookProxyServicePortType">
    <wsdl:operation name="GetBookInformation">
      <wsdl:input message="ns:GetBookInformationRequest"/>
      <wsdl:output message="ns:GetBookInformationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoogleBookProxyServiceSOAP" type="ns:GoogleBookProxyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBookInformation">
      <soap:operation soapAction="http://google.waa.swin.edu.au/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoogleBookProxyService">
    <wsdl:port binding="ns:GoogleBookProxyServiceSOAP" name="GoogleBookProxyServicePort">
      <soap:address location="http://localhost:8281/services/GoogleBookProxyService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
